.board {
  background: #fff;
  flex: 1 1 auto;
  position: relative;

  .board-controllers {
    position: absolute;
    right: 0;
    bottom: 100%;
  }
}

.board-columns {
  flex: 1 1 auto;
  display: flex;
}

.board-column {
  min-width: 150px;
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;

  &:nth-child(2n) {
    background: #3498ff26;
  }

  &--2subcolumn {
    flex: 1 2 300px;
    min-width: 300px;
  }
}

.board-row {
  border-bottom: 1px solid rgba(0,0,0,0.1);

  &--padding {
    padding: 10px;
  }
}

.board-row:last-child {
  border: none;
}

.board-name {
  padding: 10px;
}

.board-limit {
  max-width: 100px;
  margin-right: 0;
  margin-left: auto;
}

.board-table {
  width: 100%;

  td {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__title {
    padding-right: 10px;
  }
}

.board-status {
  width: 100%;
  display: flex;
  flex: 1 1 auto;

  &--border {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__item {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;

    &:last-child {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(255,255,255,0.3);
    }
  }
}

.board-status-null {
  height: 41px;
}
