body {
  background: #f7f7fa;
}

.full-height {
  height: 100vh;
}

.nav-top-name {
  padding: 10px;
  display: inline-block;
}

.footer {
  padding: 10px;
}

.text-align-right {
  text-align: right;
}

.nav-top-menu {
  width: 150px;
}

.nav-top-menu-item {
  width: 150px;
}

.main-menu-modal {
  text-align: center;
  max-width: 300px;
}

.main-menu {
  margin: 0 auto;
  width: 200px;
}

.custom-input-number {
  input {
    text-align: center;
    width: 40px;
  }

  .rs-input-number-btn-group-vertical {
    display: none;
  }
}

.main-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board-wrapper {
  background: #fff;
  height: 100%;

  .rs-flex-box-grid {
    height: 100%;
  }

  .rs-flex-box-grid-item:nth-child(2n) {
    background: #3498ff26;
  }

  .rs-flex-box-grid-top {
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}

.board-column {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.board-column:last-child {
  border: none;
}

.board-table-title {
  padding-right: 10px;
}
