body {
  background: #f7f7fa;
}

.full-height {
  height: 100vh;
}

.nav-top-name {
  padding: 10px;
  display: inline-block;
}

.footer {
  padding: 10px;
}

.text-align-right {
  text-align: right;
}

.nav-top-menu {
  width: 150px;
}

.nav-top-menu-item {
  width: 150px;
}

.main-menu-modal {
  text-align: center;
  max-width: 300px;
}

.main-menu {
  margin: 0 auto;
  width: 200px;
}

.custom-input-number {
  input {
    text-align: center;
    width: 40px;
  }

  .rs-input-number-btn-group-vertical {
    display: none;
  }
}

.main-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
